build-aux/m4/libtool.m4
noir-qt
build/*
!build/.gitkeep
src/noird
release/*
Makefile
!src/leveldb*/Makefile
.noir
.deps
.dirstamp
.libs
*.pro.user
*.exe
*.tar.gz
*.deb
*.qm
contrib/devtools/split-debug.sh
libbitcoinconsensus.pc
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
src/noir-cli
src/noir-tx
src/qt/paymentrequest.pb.cc
src/qt/paymentrequest.pb.h
src/config/bitcoin-config.h
src/config/stamp-h1
src/test/buildenv.py
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/test/moc*.cpp
src/tor.timestamp*
*.*~*
*.pyc
*.o
*.o-*
*.a
*.log
*.dmg
*.lo
*.la
*.P
*.d
*.dylib
*.so
*.slo
qrc_*.cpp
.DS_Store
share/setup.nsi
share/qt/Info.plist
config.log
config.status
configure
libtool
src/test_noir
test_noir-qt
.qmake.stash
noir-qt.app/Contents/MacOS/noir-qt
.qmake.stash
*.stash
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver
dist/
src/Makefile.in
build-aux/m4/libtool.m4
