zoin-qt
build/*
!build/.gitkeep
src/zoind
release/*
Makefile
!src/leveldb*/Makefile
.zoin
.deps
.dirstamp
.libs
*.pro.user
*.exe
*.tar.gz
*.deb
*.qm
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
src/qt/test/moc*.cpp
*.*~*
*.pyc
*.o
*.o-*
*.a
*.log
*.dmg
*.lo
*.la
*.P
*.d
*.dylib
*.so
*.slo
qrc_*.cpp
.DS_Store
share/setup.nsi
share/qt/Info.plist
config.log
config.status
configure
libtool
src/test_zoin
test_zoin-qt
.qmake.stash
zoin.app/Contents/MacOS/zoin
.qmake.stash
*.stash
